* {
  font-family: Helvetica;
  text-align: center;
  margin: auto;
}
::-webkit-scrollbar {
  display: none;
}

/* 上の説明 */
.Hometitle {
border-bottom: 1px solid #000;
margin-top: 40px;
margin-bottom: 40px;
width: 600px;
}

/* 画像のStyle */
.HomeLogo {
width: 120px;
height: 120px;
}

.BackgroundImage {
  background-image: url('../images/Nakasone.png');
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-size:cover;
  background-position:50%;
}


/* 色々 */

.AllContent {
display: flex;
justify-content: center;
}

.SearchCon {
display:flex;
flex-flow: column;
margin: 0 30px 0 0;
}

.IntroCon {
display:flex;
flex-flow: column;
border-left: 1px solid #000;
margin: 0;
padding: 0 0 0 30px;
}

.SelectPic {
width: auto;
height: auto;
}

.KuchikomiPic {
width: 700px;
height: auto;
}


.NextSearchBt {
width: 300px;
margin: auto;
border-radius: 8px;
background-color: rgb(17, 160, 253);
color: white;
margin-top: 30px;
height: 40px;

}

.IntroBt {
width: 300px;
margin: auto;
border-radius: 8px;
background-color: rgb(17, 160, 253);
color: white;
margin-top: 30px;
height: 40px;
}

.goHome {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 5px 10px #626262;
    cursor: pointer;
    background-color: rgb(17, 160, 253);
    color: white;
    font-weight: 800;
    font-size: 15px;
    width: auto;
}


/* /////////////////////////////////// */

@keyframes moveBackground {
    0% {
        background-position: 100% 0; /* 最初の位置（右端から開始） */
    }
    100% {
        background-position: -100% 0; /* 最後の位置（左端に移動） */
    }
}

/* テキストのアニメーション */
@keyframes swayText {
    0%, 100% {
        transform: translateY(0);
    }
    25%, 75% {
        transform: translateY(-30px); /* 上下に動く距離を指定 */
    }
    50% {
        transform: translateY(-60px); /* 上下に動く距離を指定 */
    }
}


@media only screen and (max-width : 1320px){
    .for-pc { display:none; }
    .for-sp { display:block; }
  }