::-webkit-scrollbar {
  display: none;
}

.bodyCon {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 150px;
}


.RightCon {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0 0 0 45px;
  border-left: 1px solid #000;
}

.LeftCon {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0 30px;
  height: auto;
  border-left: 1px solid #000;
}

.AllCon {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding-right: 30px;
  height: auto;
}

.KuchikomiSearch {
  border-top: 1px solid #000;
  bottom: 30px; /* 下端に配置 */
  margin: 0 0 35px 0;
  padding-top: 20px;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.kuchikomi {
  overflow-y: auto;
  max-height: 400px;
}

.title {
  border-bottom: 1px solid #000;
  margin-top: 100px;
  margin-bottom: 40px;
  width: 600px;
}

/* 検索バーとボタンの設定 */

.SearchResultCon {
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: space-between; /* 水平方向に左右に広げる */
  text-align: left;
  margin: 0;
  padding-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #000;
  width: 100%;

  position: -webkit-sticky;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
}

.leftButtons {
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  margin-left: 0;
}

.rightButtons {
  align-items: center; /* 垂直方向の中央揃え */
  margin-right: 20px;
}

.SearchTx {
  width: 300px;
  height: 50px;
  border-radius: 40px;
}

.SearchBt {
  width: 100px;
  height: 50px;
  border-radius: 40px;
  margin-left: 10px;
}

.BackHomeBt {
  width: 50px;
  margin-top: 5px;
  border-radius: 40px;
}

.playBt {
  width: 100px;
  height: 50px;
  border-radius: 40px;
  margin: auto;
  background-color: rgb(17, 160, 253);
  color: white;
  margin-top: 30px;
  height: 40px;
}

.searchP {
  font-size: 20px;
  margin: 10px 0;
  height: auto;
}




.ninnki {
  width: auto;
  position: relative;
  padding: 10px 10px;
  margin: 0 15px 10px 15px;
  border: 3px solid #000000;
  border-radius: 10px;
  background: #f9f9f9;
}

.ninnki:before {
  position: absolute;
  bottom: -14px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

.ninnki:after {
  position: absolute;
  bottom: -10px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color: #f9f9f9 transparent transparent transparent;
}

.SearchSpan {
  transform: skew(-20deg, 0deg);
}

.TopTracksContainer span {
  display: none; /* span要素を非表示にする */
}

.TopTracksContainer {
  margin-right: 50px;
}

.left-align {
  align-items: left;
}

.left-align ol {
  width: auto;
  display: block;
  flex-wrap: wrap; /* 必要に応じて折り返す */
  padding: 0; /* デフォルトのパディングを削除 */
}

.left-align li {
  position: relative;
  overflow: hidden;
  padding: 15px 20px 15px 100px;
  border-top: 3px solid #000;
}

.left-align li::before {
  position: absolute;
  top: -150%;
  left: -100px;
  width: 180px;
  height: 300%;
  content: '';
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  background: #000;
}

.left-align span {
  margin-right: 5px;
  font-size: 2.5rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  padding-top: 3px;
  padding-left: 16px;
  color: #fff;
}


/* アーティストの画像設定 */

.artistPic {
  width: 300px;
  margin: 50px;

  float: left;
}

/* 右半分の設定 */

.minmiru {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #000;
  width: 400px;
  height: auto;
}
.minmiruP {
  margin: 10px auto;
  width: 300px;
  height: auto;
  word-wrap: break-word;
}

.kuchikomiZero {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 0;
  border: 1px solid #000;
  width: 400px;
  height: auto;
}

.KakikomiTx {
  width: 300px;
  height: 50px;
  border-radius: 40px;
}

.KakikomiBt {
  width: 100px;
  height: 50px;
  border-radius: 40px;
}


.minmiru {
  margin-top: 15px; /* 上部の余白を修正 */
  margin-bottom: 15px;
  border: 1px solid #000;
  width: 400px;
  height: auto;
}

.title {
  border-bottom: 1px solid #000;
  margin-top: 100px;
  margin-bottom: 40px;
  width: 600px;
}

.artistPic {
  width: 300px;
  margin: 50px;
  float: left;
}

.userContainer {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #000;
}

.userIcon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.userName {
  font-weight: bold;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 5px;
  margin-top: 4px;
}

.postTime {
  margin-right: 10px;
}

.TopTracksContainer {
  text-align: left; /* 左寄せにする */
  margin-top: 20px; /* 適切なマージンを追加 */
}

.TopTracksContainer ul {
  list-style: none; /* リストのデフォルトのマーカーを削除 */
}

.TopTracksContainer li {
  margin-bottom: 8px; /* 各リストアイテムの下部に余白を追加 */
}
/* ///////////////////////////////////////////////////////// */


@media only screen and (max-width : 950px){
  .SearchBt {
    background: url('../images/Search.png') no-repeat center center;
    background-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin-left: 10px;
    text-indent: -9999px;
  }
  
  .SearchTx {
    width: 250px;
    height: 50px;
    border-radius: 40px;
  }
  
  .SearchResultCon {
    z-index: 2;
    position: fixed;
    top: 0;
    background-color: white;
    margin-bottom: 20px;
  }
  
  .bodyCon {
    display: block;
    justify-content: center;
    width: auto;
    margin-top: 30px;
  }
  
  .AllCon {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    height: auto;
  }
  
  .RightCon {
    display: flex;
    flex-flow: column;
    margin: 0;
    border-left: none;
    padding: 0;
    border-top: 1px solid #000;
    z-index: 1;
  }
  
  .LeftCon {
    align-items: center;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 40px 0 15px 0;
    height: auto;
    border-left: none; 
    border-bottom: 2px solid #000;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    z-index: 1;
    background-color: white;

  }

  .artistCon {
    display: none;
  }
  
  .artistPic {
    width: 300px;
    margin: 0 50px 20px 50px;
    float: left;
  }
  
  .KuchikomiSearch {
    margin: 0;
    bottom: 0;
    padding: 20px 0;
  }
  
  .Kuchikomi {
    margin: 0;
    padding: 100px 0 20px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
  }

  .kuchikomi:hover {
    overflow-y: auto
  }
  
  .TopTracksContainer {
    margin: 20px 0 0 0;
    padding: 10px;
    display: block;
  }
  
  
  .TopTracksContainer .left-align ol li:nth-child(n+4) {
    display: none;
  }
  
}